<div class="row">
    <div class="col-md-12">
        <h3>Manager - {{entity}}</h3>
    </div>
</div>
<div class="row">
    <!--<div class="col-md-12" ng-if="entity === 'page'">-->
        <spda-page ng-if="entity === 'page'"></spda-page>
    <!--</div>-->
    <div class="col-md-6" ng-if="entity !== 'page'">
        <spda-list model="model" entity="entity"></spda-list>
    </div>
    <div class="col-md-6" ng-if="entity !== 'page'">
        <div ng-switch="entity">
            <div ng-switch-when="projects">
                <spda-new-project init="active" view="view"></spda-new-project>
            </div>
            <div ng-switch-when="reviews">
            </div>
            <div ng-switch-when="files">
            </div>
            <div ng-switch-when="users">
                <spda-user view="view"></spda-user>
            </div>
        </div>
    </div>
    </div>
</div>