/.idea
/node_modules
/static/node_modules
/static/bower_components
/design
#/static/
/static/*.*
/static/dist/media/projects
/static/dist/media/partners
/static/dist/media/users
/static/src
/static/media