$header-image-height: 764px;
$header-height: 146px;

html, body {
  font-family: "Open Sans", sans-serif;
}
.page-top {
  background-image: url('../media/children-playground.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #fff;
  min-height: $header-image-height;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #5e88c2;
  text-decoration: none;
}

a:visited, a:active {
  text-decoration: none;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #5e88c2;
  margin-top: 70px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: default;
  color: #fff;
}