$header-image-height: 764px;
$header-height: 146px;

html, body {
  font-family: "Open Sans", sans-serif;
}

a, a:active, a:visited {
  //color: #fff;
  color: lightgrey;
  text-decoration: none;
}

a:hover {
  color: #5e88c2;
  text-decoration: none;
}

a:visited, a:active {
  text-decoration: none;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #5e88c2;
  margin-top: 70px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: default;
  color: #fff;
}

.no-padding {
  padding: 0;
}