@mixin block-header($font-color: #000, $header-width: 100%) {
  font-size: 2.4rem;
  font-weight: normal;
  color: $font-color;
  margin: 35px auto;
  text-align: center;
  width: $header-width;
  &:after {
    content: '';
    display: block;
    border: none;
    background-color: $font-color;
    margin: 25px auto 30px;
    width: 65px;
    height: 1px;
  }
}