.review-carousel {
  background-image: url('../media/chat copy 2.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
  background-color: #245598;
  color: #fff;
  height: 515px;
  width: 100%;
  &-wrapper {
    width: 100%;
    position: relative;
  }
  &-header {
    @include block-header(#fff);
  }
  &-swiper-wrapper {
    height: 225px;
  }
  &-slide {
    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    max-height: 200px;
    &-header {
      font-size: 1.8rem;
      font-weight: normal;
      margin: 0 auto 16px;
    }
    &-job {
      margin-top: 0;
      &:after {
        content: '';
        display: block;
        background-image: url("../media/chat.png");
        width: 18px;
        height: 18px;
        margin: 16px auto 34px;
      }
    }
    &-text {
      font-size: 1.1rem;
      font-weight: 300;
      font-style: italic;
      line-height: 2rem;
    }
  }

  &-button {
    display: block;
    margin: 30px auto 0;
    background-color: transparent;
    border: 1px solid #7c99c1;
    width: 180px;
  }

  @include carousel-controls(10px, 240px, 315px, #ffffff);
}