<form name="form" form-type="{{view}}" ng-submit="submit(form, $event)" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <spda-language-select language="activeLanguage" translation-data="activeUser" , lang-keys="langKeys"></spda-language-select>
        </div>
    </div>
    <div class="row">
        <h3>{{activeLanguage.name}} (для отображения на страницах сайта)</h3>
        <div class="col-md-12">
            <div class="form-group">
                <label for="user-login">Логин</label>
                <input type="text" class="form-control" id="user-login" placeholder="Login" ng-model="activeUser.login" autocomplete="off" ng-disabled="view === 'edit'" required>
            </div>
            <!--<div class="form-group">
                <label for="user-email">Email</label>
                <input type="email" class="form-control" id="user-email" placeholder="Email" ng-model="activeUser.email" autocomplete="off" ng-disabled="(activeUser.login === 'admin') && (loggedUser.login !== 'admin')">
            </div>-->
            <div class="form-group">
                <label for="user-password">Пароль</label>
                <input type="password" class="form-control" id="user-password" placeholder="Password" ng-model="activeUser.password" autocomplete="off" required ng-disabled="(activeUser.login === 'admin') && (loggedUser.login !== 'admin')">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-mg-12">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="">
                        <img class="media-object img-circle user-img" src="{{activeUser.picture}}" alt="avatar">
                    </a>
                </div>
                <div class="media-body">
                    <div class="form-group">
                        <label for="project-picture">Avatar</label>
                        <input type="file" id="project-picture" name="images" nv-file-select uploader="uploaderAvatar">
                        <p class="help-block">Загрузите аватар...</p>
                    </div>
                    <div class="form-group">
                        <label for="project-picture-url">...или введите его url</label>
                        <input type="text" class="form-control" id="project-picture-url" placeholder="Picture URL" ng-model="activeUser.picture">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeUser.canHandleProjects" ng-disabled="((activeUser.login === 'admin') && (view === 'edit')) || !loggedUser.canHandleProjects"> может управлять проектами
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeUser.canHandleUsers" ng-disabled="((activeUser.login === 'admin') && (view === 'edit')) || !loggedUser.canHandleUsers"> может управлять пользователями
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeUser.canHandleReviews" ng-disabled="((activeUser.login === 'admin') && (view === 'edit')) || !loggedUser.canHandleReviews"> может модерировать отзывы
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeUser.canHandlePageData" ng-disabled="((activeUser.login === 'admin') && (view === 'edit')) || !loggedUser.canHandlePageData"> может изменять данные страницы
                </label>
            </div>
        </div>
    </div>
    <div class="row top-line">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeUser.isInTeam" ng-disabled="activeUser.login === 'admin' || (!loggedUser.isInTeam && !loggedUser.login === 'admin')"> <strong>выводить на страницах сайта</strong>
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <label for="user-name-rus">Имя</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control" id="user-name-rus" placeholder="Name" ng-model="activeUser.name[activeLanguage.code]" autocomplete="off">
            </div>
        </div>
        <div class="col-md-2">
            <label for="user-position-rus">Должность</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control" id="user-position-rus" placeholder="Position" ng-model="activeUser.position[activeLanguage.code]" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row top-line">
        <div class="col-md-2">
            <label>Телефоны</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <spda-array-builder model="activeUser.contacts.phones" options="phoneArrayBuilderOptions"></spda-array-builder>
            </div>
        </div>
        <div class="col-md-2">
            <label>Email-ы</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <spda-array-builder model="activeUser.contacts.emails" options="emailArrayBuilderOptions"></spda-array-builder>
            </div>
        </div>
        <div class="col-md-2">
            <label>Facebook</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control" id="user-fb" placeholder="Fb" ng-model="activeUser.contacts.fb">
            </div>
        </div>
        <div class="col-md-2">
            <label>Vk</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control" id="user-vk" placeholder="Vk" ng-model="activeUser.contacts.vk">
            </div>
        </div>
    </div>
    <div class="row top-line">
        <div class="col-md-4">
            <div ng-switch="view">
                <div ng-switch-when="new">
                    <button type="submit" class="btn btn-default project-add" value="Add" ng-disabled="isQueriing">Добавить</button>
                </div>
                <div ng-switch-when="edit">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="canDelete" ng-disabled="(activeUser.name === 'admin') && (view === 'edit')"> Действительно удалить пользователя
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger" value="Delete" ng-disabled="!canDelete" ng-click="delete()">Удалить</button>
                    <button type="submit" class="btn btn-default" value="Update" ng-disabled="isQueriing">Обновить</button>
                </div>
            </div>
        </div>
    </div>
</form>