@mixin page-header-transition() {
  transition: all 0.3s ease;
}

.page-header {
  position: fixed;
  width: 100%;
  z-index: 20;
  height: $header-height;
  background-color: transparent;
  &-logo {
    height: 96px;
    margin-top: 25px;
    cursor: pointer;
    @include page-header-transition();
    &-image {
      display: inline-block;
      width: 88px;
      height: 96px;
      margin-right: 12px;
      @include page-header-transition();
    }
    &-text-wrapper {
      display: inline-block;
      position: relative;
      height: 96px;
      width: 100px;
      vertical-align: middle;
      //color: #fff;
      color: lightgrey;
      @include page-header-transition();
      &-text {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: 90px;
        @include page-header-transition();
        &:hover {
          color: #245598;
        }
      }
    }
  }

  &-main-navigation {
    margin-right: 0;
    height: 100%;
    &-list {
      list-style: none;
      padding-left: 0;
      height: 47px;
      display: table-cell;
      vertical-align: middle;
      &-item {
        display: inline-block;
        margin: 0 45px 0 0;
        font-weight: normal;
        & a {
          &, &:active, &:visited, &:focus {
            //color: #fff;
            color: lightgrey;
            @include page-header-transition();
          }
          &:hover {
            color: #245598;
            @include page-header-transition();
          }
        }
        &.active>a {
          color: #62c46b;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-sticky {
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    @include page-header-transition();
    & .page-header-logo-text-wrapper {
      width: 300px;;
      color: #000;
      height: 100%;
      font-weight: normal;
      @include page-header-transition();
      &-text {
        width: 300px;;
      }
    }
    & .page-header-logo {
      margin-top: 16px;
      margin-bottom: 16px;
      height: 47px;
      @include page-header-transition();
      &-image {
        width: 45px;
        height: 47px;
        @include page-header-transition();
      }
    }
    & a, & a:active, & a:visited {
      color: #000;
      @include page-header-transition();
    }
    & a:hover {
      color: #5e88c2;
      text-decoration: none;
    }
    & .page-header-main-navigation-list {
      margin: 0;
      @include page-header-transition();
    }
  }
}