.about {
  color: #2f2f2f;
  &-logo {
    width: 50px;
    height: 50px;
    margin: 85px auto 0;
    display: block;
  }
  &-header {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 35px auto;
    text-align: center;
  }
  &-text {
    &:before {
      content: '';
      display: block;
      width: 65px;
      height: 1px;
      background: #000;
      margin: 0 auto 35px;
    }
    font-size: 1.4rem;
    margin: 35px auto;
    text-align: center;
    width: 75%;
  }
  &-image {
    background-image: url('../media/photo-1455734729978-db1ae4f687fc.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fff;
    height: 552px;
    position: absolute;
    left: 0;
    width: 50%;
  }
  &-button {
    margin: auto;
    display: block;
  }
}

@media (min-width: 768px) {
  .about-image {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-image {
    display: block;
  }
}