.partners {
  &-header {
    @include block-header(#000);
  }
  &-logo {
    width: 50px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &-wrapper {
      min-height: 60px;
      position: relative;
    }
  }
}