.partners {
  &-header {
    @include block-header(#fff);
  }
  &-logo {
    width: 33.3%;
    height: 30px;
    margin: auto;
    background: #fff center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}